@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
    --color-text-main: #000000;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-50: rgba(0, 0, 0, .5);
    --color-black-75: rgba(0, 0, 0, .75);
    --color-marker: #1dd1a1;
    --color-text-different: #bbbbbb; /*  text in notes */

    --mms-purple: rgba(86, 42, 109, 1);
    --mms-purple-05: rgba(86, 42, 109, .05);
    --mms-purple-10: rgba(86, 42, 109, .1);
    --mms-purple-25: rgba(86, 42, 109, .25);
    --mms-purple-50: rgba(86, 42, 109, .5);
    --mms-purple-75: rgba(86, 42, 109, .75);
    --mms-purple-darken-85: rgba(12, 6, 16, 1);

    --mms-green: rgba(84 ,175 ,120 , 1);
    --mms-green-10: rgba(84 ,175 ,120 , .1);
    --mms-green-25: rgba(84 ,175 ,120 , .25);
    --mms-green-50: rgba(84 ,175 ,120 , .5);

    --mms-red: rgba(244, 16, 60, 1);
    --mms-red-10: rgba(244, 16, 60, .1);
    --mms-red-25: rgba(244, 16, 60, .25);
    --mms-red-50: rgba(244, 16, 60, .5);

    --mms-grey: rgba(191, 191, 191, 1);
    --mms-grey-05: rgba(191, 191, 191, .05);
    --mms-grey-10: rgba(191, 191, 191, .1);
    --mms-grey-15: rgba(191, 191, 191, .15);
    --mms-grey-25: rgba(191, 191, 191, .25);
    --mms-grey-50: rgba(191, 191, 191, .5);
    --mms-grey-75: rgba(191, 191, 191, .75);

    --mms-yellow: rgba(255, 193, 7, 1);
    --mms-yellow-10: rgba(255, 193, 7, .1);
    --mms-yellow-25: rgba(255, 193, 7, .25);
    --mms-yellow-50: rgba(255, 193, 7, .5);

    --mms-blue: rgba(0, 97, 157, 1);
    --mms-blue-10: rgba(0, 97, 157, .1);
    --mms-blue-25: rgba(0, 97, 157, .25);
    --mms-blue-50: rgba(0, 97, 157, .5);

    --fontsize-caption: 0.8rem;
    --lineheight-caption: 1.1;

    --space: 20px;
    --space-small: 15px;
    --space-large: 45px;
    --space-xlarge: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;700&display=swap');

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

body {
  line-height: 1.6;
  font-family: 'Sora', samms-serif;
  font-size: 14px;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    -webkit-text-size-adjust: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
}
:focus:not(:focus-visible) {
    outline: none;
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.sr {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    white-space: nowrap;
}

*:focus {
    outline: 0;
}

* {
    -webkit-font-variant-ligatures: none !important;
    font-variant-ligatures: none !important;
}

html.notes-active, html.nav-open,
body.notes-active,
body.nav-open {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

html.nav-open-desktop:after,
body.nav-open-desktop:after {
    content: "";
    background: var(--color-white);
    opacity: 0.4;
    position: absolute;
    top: 11.5rem;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

body {
    color: var(--color-text-main);
    background-color: var(--color-white);
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-scrolling: touch;
    width: 100%;
    margin: 0;
}

body.nav-open:after {
    content: "";
    background: var(--color-white);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.superscript,
sup,
sub,
.subscript,
span[class*='superscript'] {
    font-size: 60%;
    line-height: 0;
    vertical-align: baseline;
    position: relative;
    padding: 0 1px;
    top: -0.6em;
}

sub, .subscript {
    top: 0.4em;
}

b, strong,
.mms-bold {
    font-weight: 700;
}

span.mms-highlight {
    color: var(--color-highlights);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

img.lazy {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

img.loaded {
    opacity: 1;
    visibility: visible;
}

strong {
    font-weight: 700;
}

img:not([src]) {
    max-height: 0;
}

.hyphenate {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.donthyphenate {
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.responsive-embed {
    position: relative;
    width: 100%;
    height: 0;
    padding: 56.25% 0 0 0;
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding: 56.25% 0 0 0;
    display: block;
}

.responsive-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.responsive-embed video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.ld-control,
.ld-control * {
    position: static;
}

.livingdocs {
    max-width: 100%;
    overflow-x: hidden;
}

body > .content {
    max-width: 1164px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 72px;
}

.home .content {
    padding-top: 0;
}

.content > .content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 50px;
}

.livingdocs > .mms-paragraph,
.livingdocs > .mms-img,
.livingdocs > .mms-title-h1,
.livingdocs > .mms-title-h2,
.livingdocs > .mms-title-h3,
.livingdocs > .mms-title-h4,
.livingdocs > .mms-title-h5,
.livingdocs > .mms-title-h6 {
    width: 100%;
}

.mms-paragraph,
.mms-title-h1,
.mms-title-h2,
.mms-title-h3,
.mms-title-h4,
.mms-title-h5,
.mms-title-h6,
.mms-code,
.mms-img,
.mms-infobox,
.mms-alert,
.mms-article,
.mms-img__caption,
.ld-signature-container,
.ld-quote,
.ld-video {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.mms-article {
    width: 100%;
}

.mms-img,
.livingdocs > .mms-img {
    margin-left: 0;
}

.mms-img__caption {
    font-size: var(--fontsize-caption);
    line-height: var(--lineheight-caption);
    color: var(--color-black-75);
}

.mms-img__caption {
    margin-top: 10px;
}

a {
    color: var(--mms-purple);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: var(--mms-purple-50);
}

// p {
//     margin-block-start: 1em;
//     margin-block-end: 1em;
// }

.nosplit {
    overflow-x: auto;
}

.line,
.line_bold,
.line_ind {
    border-bottom: 1px solid var(--mms-grey);
}

.line_bold p {
    font-weight: 700;
}

.bline,
.bline_bold {
    border-bottom: 2px solid var(--mms-grey);
}

.bline_bold p {
    font-weight: 700;
}

.noline {
    border-bottom: 0;
}

.noline_bold {
    border-bottom: 0;
}

.noline_bold p {
    font-weight: 700;
}

.noline_ind {
    border-bottom: 0;
}

.noline_ind p {
    padding-left: 1.5rem;
}

.mms-horizontal-right {
    text-align: right;
}

.mms-horizontal-left {
    text-align: left;
}

.mms-horizontal-center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.italic p {
    font-style: italic;
}

span[class*='_bold'],
.bold {
    font-weight: 700;
}

.note {
    color: var(--color-text-different);
    cursor: pointer;
}

.mms-code {
    color: var(--color-text-main);
    white-space: pre;
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--mms-grey-10);
    display: block;
    overflow-x: scroll;
    padding: 1rem;
    // box-shadow: 0 0.25rem .5rem rgb(0 0 0 / 20%);
    border: 1px solid var(--mms-grey-50);
}

.mms-temp-highlight {
    background: var(--color-marker);
}

ul.mms-list-group {
    display: block;
    padding-left: 15px;
}

@media print {
    body > .content {
        display: block;
    }
}

.mms-hr {
    margin: 0 0 var(--space) 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: block;
    border: none;
    border-top: 1px solid var(--mms-black-10);
    padding-bottom: var(--space-small);
}

.mms-infobox,
.mms-alert {
    position: relative;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 0;
    width: 100%;
    background-color: var(--mms-blue-10) !important;
    border-color: var(--mms-blue) !important;
    color: var(--color-black) !important;
}

.mms-infobox.mms-infobox--secondary,
.mms-alert.mms-alert--secondary {
    background-color: var(--mms-grey-10) !important;
    border-color: var(--mms-grey) !important;
    color: var(--color-black) !important;
}

.mms-infobox.mms-infobox--success,
.mms-alert.mms-alert--success {
    background-color: var(--mms-green-25) !important;
    border-color: var(--mms-green) !important;
    color: var(--color-black) !important;
}

.mms-infobox.mms-infobox--warning,
.mms-alert.mms-alert--warning {
    background-color: var(--mms-yellow-25) !important;
    border-color: var(--mms-yellow) !important;
    color: var(--color-black) !important;
}

.mms-infobox.mms-infobox--danger,
.mms-alert.mms-alert--danger {
    background-color: var(--mms-red-25) !important;
    border-color: var(--mms-red) !important;
    color: var(--color-black) !important;
}

.full-width img {
    width: 100%;
}

.img-centered img {
    margin: 0 auto;
}

.paragraph-centered {
    margin: 0 auto 20px auto;
}

.img-centered .mms-img__caption {
   text-align: center;
}

.img-right .mms-img__caption {
   text-align: right;
}

.img-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mms-img img {
    width: 100%;
}

.img-1-2 img,
.paragraph-1-2,
.video-1-2 {
    width: 50% !important;
}

.img-1-4 img,
.paragraph-1-4,
.video-1-4 {
    width: 25% !important;
}

.img-1-3 img,
.paragraph-1-3,
.video-1-3 {
    width: 33.333% !important;
}

.img-box-shadow img {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2)!important;
}

.img-border img {
    border: 1px solid var(--mms-grey-50);
    padding: 3px;
}

.mms-pdf-pagebreak {
    page-break-after: always!important;
    display: block;
    position: relative;
    width: 100%;
    height: 14px;
    border-bottom: 1px dashed var(--color-marker);
    border-top: 1px dashed var(--color-marker);
    line-height: 14px;
    text-align: center;
    color: #1dd1a1;
    font-size: 10px;
    page-break-before: always;
    clear: both;
}

.mms-pdf-pagebreak:after {
    content: 'page break';
    display: inline-block;
    line-height: 14px;
}

ol.mms-list-group, ul.mms-list-group {
    list-style: none;
    padding-bottom: 20px;
}

ol.mms-list-group {
    counter-reset: item;
}

ul.mms-list-group {
    width: 100%;
}

ol.mms-list-group li {
    counter-increment: item;
    margin-bottom: 5px;
    list-style-type: none;
}
ol.mms-list-group li:before {
    font-weight: 700;
    margin-right: 4px;
    content: counter(item) ".";
    width: auto;
    display: inline-block;
    width: 24px;                           
    margin-left: -40px;
}

ul.mms-list-group .mms-list-group__item {
    list-style-type: none;
    margin-left: 12px;
}

ul.mms-list-group li:before {
    font-weight: 700;
    content: "–";
    height: 30px;
    width: 30px;
    font-size: 18px;
    margin-right: 4px;
    position: absolute;
    left: -27px;
    top: 4px;
}

.mms-list-group__item {
    position: relative;
    padding: 0.5rem 1.25rem 0 0;
    margin-bottom: -1px;
}

.margin__bottom--none {
    margin-bottom: 0;
}

.margin__bottom--small {
    margin-bottom: 10px;
}

.margin__bottom--medium {
    margin-bottom: 20px;
}

.margin__bottom--large {
    margin-bottom: 40px;
}

.margin__bottom--xlarge {
    margin-bottom: 60px;
}

.margin__bottom--xxlarge {
    margin-bottom: 80px;
}

.margin__bottom--xxxlarge {
    margin-bottom: 100px;
}

.ld-signature__item {
    font-size: var(--fontsize-caption);
    line-height: var(--lineheight-caption);
    color: var(--color-black-75);
    margin-top: 20px;
}

.ld-signature__item:first-of-type {
    margin-top: 0;
}

@media screen and (min-width: 756px) {

    .ld-signature-container {
        display: flex;
    }

    .ld-signature__item {
        margin-right: 20px;
    }

    .ld-signature__item:last-of-type {
        margin-right: 0;
    }

    .ld-signature__item {
        margin-top: 0;
    }
}

.ld-signature__name,
.ld-signature__position {
    padding-top: 10px;
}

.ld-signature__name {
    font-weight: bold;
}

.ld-quote {
    background-color: var(--mms-purple-10);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.ld-quote__quote {
    font-size: 1.2rem;
}

.ld-quote__quote:before {
    content: "“ ";
}

.ld-quote__quote:after {
    content: " ”";
}

.ld-quote__author {
    font-weight: 700;
    padding-top: 10px;
}

.ld-quote--with-portrait {
    display: flex;
}

.ld-quote--with-portrait .ld-quote__quote  {
    max-width: 90%;
}

.ld-quote--with-portrait .ld-quote__figure {
    width: 100%;
}

.ld-quote__figure img {
    height: 300px;
    border-bottom-right-radius: 40px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.ld-quote__text {
    padding: 40px;
}

.ld-video__inner {
    position:relative
}
.ld-video__thumbnail-container {
    position:relative;
    width:100%;
    height:0;
    padding:56.25% 0 0 0;
    display:block;
    position:absolute;
    z-index:10
}
.ld-video__video {
    position:relative;
    width:100%;
    height:0;
    padding:56.25% 0 0 0;
    display:block
}
.ld-video__video iframe {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%
}

