<script type="ld-conf">
	{
		"name": "quote",
		"label": "Quote",
        "iconUrl": "https://placehold.jp/100x100.png",
        "properties":[
            "margin-bottom"
        ]
	}
</script>
<blockquote class="ld-component ld-component--quote ld-quote">
	<div class="ld-quote__text">
		<p class="ld-linkable ld-quote__quote" doc-editable="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		<cite class="ld-quote__cite">
			<p class="ld-quote__author" doc-editable="author" doc-optional>Name des Autors</p>
			<p class="ld-quote__function" doc-editable="job" doc-optional>Tätigkeit</p>
		</cite>
	</div>
</blockquote>
