<script type="ld-conf">
	{
        "name": "ordered-list-group",
        "label": "List (Ordered)",
        "properties":[
          "new-text", 
          "margin-bottom"
        ],
        "directives": {
            "list": {
            "allowedChildren": ["list-item"],
            "defaultContent": [
                {"component": "list-item"}
          ]
        }
      },
      "iconUrl": "https://placehold.jp/100x100.png"
	}
</script>
<ol class="mms-list-group mms-list-group--ol" doc-container="list"></ol>
