<script type="ld-conf">
	{
        "name": "unordered-list-group",
        "label": "List (Unordered)",
        "properties":[
          "new-text", 
          "margin-bottom"
        ],
        "directives": {
            "list": {
            "allowedChildren": ["list-item"],
            "defaultContent": [
                {"component": "list-item"}
          ]
        }
      },
      "iconUrl": "https://placehold.jp/100x100.png"
	}
</script>
<ul class="mms-list-group mms-list-group--ul" doc-container="list"></ul>
