<script type="ld-conf">
    {
        "name": "img",
        "label": "Image",
        "properties":[
            "img-size", 
            "img-position", 
            "img-highlight",
            "margin-bottom"
        ],
        "iconUrl": "https://placehold.jp/100x100.png"
    }
</script>
<figure class="mms-img">
    <img class="mms-img__img mms-img__img--desktop" doc-image="image" alt="graphic" />
    <figcaption class="mms-img__caption" doc-editable="legend" doc-optional>Caption</figcaption>
</figure>
